<div style="font-family: sans-serif;">
    <h2 style="color: #555;">Reset Password</h2>
    <p style="color: gray;">
        Click the link bellow to reset tour password
    </p>
    <a href="<%= link %>" style="color: blue;">Reset Your Password</a>
</div>
