<div style="font-family: sans-serif;">
    <h2 style="color: #555;">Please, verify your email address</h2>
    <p style="color: gray;">
        Click the link bellow to activate your account
    </p>
    <a href="<%= link %>" style="color: blue;">Verify Your Account</a>
</div>
